<%# <h1>Products</h1>
<ul>
    <% @products.each do |product| <>>
        <li>
            <%= product.name <>> 
            <%= product.reactions.find_by(user_id: current_user.id).kind <>>
            <p>
                <%= link_to "Show this product", product <>>
            </p>
        </li>
    <% end <>>
</ul> %>

<h1>Posts</h1>
<ul>
    <% @posts.each do |post| %>
        <div>
            <%= post.title %>
            <%= post.find_kind_user_relation(current_user) %>
            <p>
                <%= link_to "Show this post", post %>
            </p>
        </div>
    <% end %>
</ul>
